.ContactmainWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-clr);
    color: var(--fg-clr);
}

.ContactMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 110vh;

    overflow: scroll;
}