.HomeWrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HomeLoadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 30px;
    font-weight: 600;
    z-index: 20;
    color: white;
    background-color: black;
    transition: 1s;
}

@keyframes HomeloadingAnimation {
    0% {top: 0;}
    100% {top: -100%;}
}

.HomeMainContainer {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    min-height: 110vh;

    background-color: grey;
    color: var(--fg-clr);
    font-size: 30px;
    font-weight: 700;
    z-index: 0;
    transition: 1.5s;
}

.HomeMainSlide {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;

    z-index: 0;
    backdrop-filter: blur(30px);
    color: white;
}

.HomeSectionLeft {
    display: flex;
    align-items: flex-start;    justify-content: center;    flex-direction: column;

    width: auto;    height: auto;   gap: 20px;  padding: 30px;
}

.HomeSectionHead {
    display: flex;
    align-items: center;    justify-content: center;
    text-align: left;

    width: auto;    height: auto;

    font-size: 60px;    font-weight: 700;
    gap: 1rem;
}

.HomeSectionName {
    background: linear-gradient(90deg, #43A047, #1B5E20);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.HomeSectionRole {
    display: flex;
    align-items: center;    justify-content: center;
    text-align: left;

    width: auto;    height: auto;

    font-size: 60px;    font-weight: 700;
    background:linear-gradient(90deg, #81C784, #034906);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.HomeSectionBackground {
    position: fixed;
    width: 500px;   height: 350px;  border-radius: 50%;

    background: radial-gradient(rgba(20,20,250,0.5) 0%, rgba(20,20,200,0.3) 40%, rgba(20,20,150,0.1) 100%);
}

.HomeCircleBar {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
    animation: dragup 1s ease-out linear infinite;
}

.HomeProjectsSliderWrapper {
    display: flex;
    align-items: flex-start;    justify-content: flex-start;    flex-direction: column;

    width: calc(100% - 20px);   height: fit-content;

    margin: 10px;   padding: 10px;  gap: 10px;  border-radius: 10px;
    /* background: rgba(20,20,20,0.8); */
    background: transparent;
}

.HomeProjectsSlider {
    display: flex;
    align-items: flex-start;    justify-content: flex-start;    flex-direction: row;

    width: 100%;    height: fit-content;

    padding: 10px;  gap: 10px;
    overflow-x: auto;
}

.HomeProjectsSliderItem {
    display: flex;      flex-direction: column;
    align-items: center;    justify-content: center;

    min-width: 300px;   height: 200px;

    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    /* border: 1px solid white; */
    color: white;   
    /* background-color: black; */
    background-color: rgba(210,210,210,0.2);
    font-size: 20px;
}
@keyframes dragup {
    0% { height: 300px;}
    100% { height: 0px;}
}

