* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {width: 0;}

:root {
  --bg-clr: rgb(0,0,0);
  --fg-clr: rgb(255,255,255);
}

a {
  color: var(--fg-clr);
  text-decoration: none;
  transition: 0.7s;
}

a:hover {
  color: blue;
}

.activeLink {
  color: var(--fg-clr);
  border-bottom: 2px solid var(--fg-clr);
}

.activeLink:hover {border-bottom: 2px solid blue;}

.LoadingContainer {
  position: fixed;
  top: -100vh;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  background-color: black;
  color: white;

  font-size: 30px;
  font-weight: 600;
  z-index: 10;
  animation: loadingAnimation 0.7s ease-in-out;
}

@keyframes loadingAnimation {
  0% {top: 0vh;}
  100% {top: -100vh;}
}

.LoadingContainerDot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10px;
  height: 10px;

  margin: 0 20px;
  background-color: white;
  border-radius: 50%;
}

.LoadingContainerCurve {
  position: absolute;
  bottom: 0px;
  display: flex;

  width: 100%;
  height: 10px;

  border-radius: 50%;
  background-color: black;
  animation: loadingCurve 0.7s ease-in;
}

@keyframes loadingCurve {
  0% {
    bottom: -150px;
    height: 150px;
  }
  100% {
    bottom: -10px;
    height: 10px;
  }
}