* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {width: 0;}

:root {
  --bg-clr: rgb(0,0,0);
  --fg-clr: rgb(255,255,255);
}

a {
  color: var(--fg-clr);
  text-decoration: none;
  transition: 0.7s;
}

a:hover {
  color: blue;
}

.activeLink {
  color: var(--fg-clr);
  border-bottom: 2px solid var(--fg-clr);
}

.activeLink:hover {border-bottom: 2px solid blue;}