::-webkit-scrollbar {width: 0;}

.HomemainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    min-height: calc(100vh - 60px);

    font-size: 24px;
    padding-top: 60px;
    background-color: #222;
    color: white;
}